
body{
    background-image: url(image/Survey.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:color-burn;
    
   
    
}


#Questionnaire-body{
    background-color: whitesmoke;
    width: 60vw;
    margin: auto;
    margin-top: 5vw;
    border-radius: 10px;
}

#Topic{
    text-align: center;
}
.Main-heading{
    font-weight: bolder;
    padding-top: 5vw;
    text-decoration: underline;
}
p{
    font-size: larger;
}


#form{
    margin-left: 5vw;
}

.Name{
    margin-left: 4.5vw;
    width: 20rem;
    height: 5vh;
    border-radius: 10px;
    border: none;
    
}

.personal-info{
    margin-top: 5vw;
}

.info{
    margin-top: 2vw;
}
.date{
    margin-left: 1vw;
    width: 15rem;
    height: 5vh;
    border-radius: 10px;
    border: none;
}

.checkbox{
    margin-top: 2vw;
}

.radio{
margin-left: 2vw;
}


.number{
margin-top: 5vw;
}
.number5{
    width: 30vw;
    height: 15vh;
    border-radius: 10px;
    border: none;
}

#twitter, #others{
    margin-left: 4.9vw;
}
#whatsapp, #instagram{
    margin-left: 3.5vw;
}



.Submit{
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
}
button{
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background-color:darkcyan;
    color: #fff;
}

button:hover{
    background-color: black;
    
}